.bg-grey {
background-color: #3b3b3b !important;
}

.hidden-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.hidden-content.show {
    max-height: 500px; /* Ajustez cette valeur selon vos besoins */
}

