/* Style pour l'élément avec l'ID colorAdmin */
#colorAdmin {
    background-color: #d7d7d7 !important; /* Couleur de fond gris clair */
    background-size: cover; /* L'image de fond s'adapte à la taille de l'écran */
    background-position: center; /* Centre l'image de fond */
    background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
}

/* Style pour une classe de fond gris foncé */
.bg-grey {
    background-color: #3b3b3b !important;
}

/* Style pour le contenu caché */
.hidden-content {
    max-height: 0; /* Hauteur maximale initiale à 0 */
    overflow: hidden; /* Cache tout contenu dépassant de la zone */
    transition: max-height 0.5s ease-out; /* Transition douce lors de l'expansion */
}

/* Style pour afficher le contenu caché */
.hidden-content.show {
    max-height: 500px; /* Hauteur maximale lorsqu'il est affiché */
}

/* Style pour un conteneur de bannière */
.banner-container {
    position: relative; /* Position relative pour le positionnement des enfants */
    width: 100%; /* Largeur de 100% */
    height: auto; /* Hauteur automatique */
}

/* Style pour l'image de bannière */
.banner-image {
    width: 100%; /* Largeur de l'image à 100% */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
    display: block; /* Affichage en bloc pour centrer correctement */
}

/* Style pour le texte de la bannière */
.banner-text {
    position: absolute; /* Position absolue pour le centrage */
    top: 50%; /* Décalage de 50% vers le haut */
    left: 50%; /* Décalage de 50% vers la gauche */
    transform: translate(-50%, -50%); /* Centrage absolu */
    color: white; /* Couleur du texte */
    font-size: 3em; /* Taille de police */
    font-weight: bold; /* Gras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre de texte */
    text-align: center; /* Alignement central */
}

/* Style pour le bouton Revenir en haut */
#backToTopBtn {
    display: none; /* Initialement caché */
    position: fixed; /* Position fixe */
    bottom: 20px; /* Distance du bas de la fenêtre */
    right: 30px; /* Distance de la droite de la fenêtre */
    z-index: 99; /* Z-index pour empêcher le chevauchement */
    border: none; /* Pas de bordure */
    outline: none; /* Pas de mise en surbrillance */
    background-color: #007bff; /* Couleur de fond bleue */
    color: white; /* Couleur du texte blanc */
    cursor: pointer; /* Curseur pointeur */
    padding: 15px; /* Remplissage intérieur */
    border-radius: 10px; /* Bordure arrondie */
}

/* Style pour une classe de fond vert militaire */
.bg-military {
    background-color: #024e15 !important;
}

/* Style pour les cellules de tableau et les en-têtes de tableau */
table th,
table td {
    white-space: nowrap; /* Empêche le texte de se casser sur plusieurs lignes */
    text-overflow: ellipsis; /* Ajoute des points de suspension en cas de dépassement */
    overflow: hidden; /* Cache tout débordement */
}

/* Style pour la zone de défilement horizontale des tableaux */
.table-responsive {
    overflow-x: auto; /* Activation du défilement horizontal automatique */
}

/* Style pour les miniatures d'image */
.img-thumbnail {
    width: 50px; /* Largeur fixe de la miniature */
    height: 50px; /* Hauteur fixe de la miniature */
    object-fit: cover; /* Ajustement de l'image à la taille de la miniature */
}

/* Style pour une taille de police spécifique */
.fs-7 {
    font-size: 12px !important; /* Taille de police 12 pixels */
}

/* Styles pour différents rôles d'utilisateur */
.role-admin {
    font-size: 20px !important; /* Taille de police 20 pixels */
    color: red; /* Couleur rouge */
    font-weight: bold; /* Gras */
}

.role-tf-officiel {
    font-size: 20px !important; /* Taille de police 20 pixels */
    color: blue; /* Couleur bleue */
    font-weight: bold; /* Gras */
}

.role-invite {
    font-size: 20px !important; /* Taille de police 20 pixels */
    color: green; /* Couleur verte */
    font-weight: bold; /* Gras */
}

.role-non-defini {
    font-size: 20px !important; /* Taille de police 20 pixels */
    color: gray; /* Couleur grise */
    font-weight: bold; /* Gras */
}

/* Styles pour une carte de taille fixe */
.fixed-size-card {
    width: 300px; /* Largeur fixe de la carte */
    height: 400px; /* Hauteur fixe de la carte */
    overflow: hidden; /* Cache tout débordement */
}

/* Styles pour le corps de la carte dans une carte de taille fixe */
.fixed-size-card .card-body {
    height: 200px; /* Hauteur fixe du corps de la carte */
    overflow: hidden; /* Cache tout débordement */
    text-overflow: ellipsis; /* Ajoute des points de suspension en cas de dépassement */
    white-space: nowrap; /* Empêche le texte de se casser sur plusieurs lignes */
}

/* Styles pour le texte de la carte dans une carte de taille fixe */
.fixed-size-card .card-text {
    display: -webkit-box; /* Affichage en boîte WebKit */
    -webkit-line-clamp: 3; /* Limite de lignes visibles */
    -webkit-box-orient: vertical; /* Orientation verticale */
    overflow: hidden; /* Cache tout débordement */
    text-overflow: ellipsis; /* Ajoute des points de suspension en cas de dépassement */
}
